# OS
.DS_Store
Thumbs.db

# Node / tooling
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build artifacts
dist
build

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/
